body {
    font-family: Arial, sans-serif;
    background-color: #a68064; /* Hazel background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

.title {
    font-family: 'Lobster', cursive;
    color: red;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}
