<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="App">
        <button id="toggleRecording">Start Recording</button>
        <canvas id="waveform" width="800" height="200"></canvas>
        <p id="language"></p>
        <div id="textArea" class="text-area"></div>
    </div>
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
</body>
</html>
