* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff5e62, #ff9966);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-card {
    background-color: white;
    border-radius: 20px;
    padding: 70px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.5); /* Make the profile card larger */
}

.profile-img {
    border-radius: 50%;
    width: 200px;  /* Increase size of the profile image */
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px; /* Make the name bigger */
    margin-bottom: 15px;
}

p {
    color: #555;
    margin-bottom: 30px;
    font-size: 24px; /* Make description bigger */
}

.social-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    text-decoration: none;
    padding: 20px 0;
    border-radius: 10px;
    margin: 12px 0;
    color: white;
    font-size: 24px; /* Make buttons bigger */
    font-weight: bold;
    text-align: center;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333;
}

.portfolio {
    background-color: #C13584;
}

.portfolio-website {
    background-color: #FF5722;
}

.my-website {
    background-color: #4CAF50;
}
