* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a68064; /* Hazel background color */
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: red;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    display: block;
}

.question p {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.hint, .answer {
    margin-top: 10px;
    color: #555;
}
